<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <title>Map Example</title>
  </head>
  <body>
    <div
      class="container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="row">
        <div id="map" style="width: 60vw; height: 60vh"></div>
        <form action="/register" method="post">
          <input id="LocationInput" type="text" name="location" />
          <label for="LocationInput">LocationInput</label>
          <button type="submit">Sign up</button>
        </form>
      </div>
    </div>

    <script>
            var map = L.map("map").setView([36, 36], 5);
            var marker = L.marker(<%- JSON.stringify(location) %>).addTo(map);
            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
              maxZoom: 19,
            }).addTo(map);

            const lInput = document.getElementById("LocationInput")
            lInput.value= location


      /*       function sendLocationToServer(latlng) {
              fetch("/api/send-location", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ location: latlng }),
              })
                .then((response) => response.json())
                .then((data) => console.log("Server response:", data))
                .catch((error) => console.error("Error:", error));
            } */

            function onMapClick(e) {
              marker.setLatLng(e.latlng).addTo(map);
              console.log(e.latlng.toString());
              lInput.value= e.latlng.toString()
              sendLocationToServer(e.latlng);
            }

            map.on("click", onMapClick);
    </script>
  </body>
</html>
